/* add your custom styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
body { font-family: Inter; color: #000000; background-image: linear-gradient(90deg, var(--info) 0%, var(--indigo) 100%); }

.fw900 { font-weight: 900; }

.animebg { background-image: linear-gradient(180deg, var(--primary) 0%, white 100%); }