<div class="card mb-3 shadow-lg border-0">
    <div class="card-header py-4 bg-white">
        <h3 class="fw900">Для чего нужен AniTool?</h3>
    </div>
    <div class="card-body">
        <h5>AniTool создан для того, чтобы находить методы обхода для просмотра заблокированных аниме на территории Казахстана и России. Дело в том что РКН и надзор контента интернета в Казахстане почти идентичны в принципе работы. То что заблокировано в России, с вероятностью в 99,9% будет заблокировано и в Казахстане.</h5>
    </div>
</div>