{% load static %}
<div class="card mb-3 shadow-lg mt-4 border-0">
   <img class="card-img-top" src="{% static 'img/connor.jpg' %}">
   <ul class="list-group list-group-flush">
      <li class="list-group-item h3 fw900">О разработчике</li>
      <li class="list-group-item">
         Telegram - <a href="https://t.me/rk800_dev/" class="text-info">@rk800_dev</a>
      </li>
      <li class="list-group-item">
         GitHub - <a href="https://github.com/rk800-dev/" class="text-info">@rk800-dev</a>
      </li>
      <li class="list-group-item">
         VKontakte - <a href="https://vk.com/rk800_dev/" class="text-info">@rk800_dev</a>
      </li>
      <li class="list-group-item">
         <h6 class="font-weight-bold text-secondary">Обо мне</h6>
         Заинтересован в веб-разработке, разработке операционных систем, эмуляции систем игровых приставок. Открыт для предложении, вакансии и фриланс-заказов.
      </li>
   </ul>
</div>