<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Anitool{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <meta property="og:image" content="{% static 'img/anitool.png' %}">
    <meta property="og:image:height" content="600"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:title" content="AniTool - инструмент для поиска обходов для заблокированных аниме на территории России и Казахстана">
    <meta property="og:description" content="Попробуйте воспользоваться AniTool сейчас - это бесплатно. AniTool всегда будет бесплатным.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
